body {
  border: 10px solid tomato;
  background-color: white;
  text-align: center;
  width: 100%;
  height: 100%;
}

img {
  border: 5px solid black;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.img2 {
  width:450px;
  height: 250px;
}

.img3 {
  width: 350px;
  height: 200px;
}

.img4 {
   width: 300px;
   height:200px;
 }

.img5 {
  width: 350px;
  height: 450px;
}

.img6 {
  width: 400px;
  height: 250px;
}

.img7 {
  width: 300px;
  height: 150px;
}

h1 {
  font-family: "Trebuchet MS";
  font-size: 55px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  font-family: "Trebuchet MS";
  display: block;
  margin-right: auto;
  margin-left: auto;
}

h3 {
  font-family: "Trebuchet MS";
  display: block;
  margin-right: auto;
  margin-left: auto;
}

h4 {
  font-family: "Trebuchet MS";
  font-size: 35px;
  width: 25%;
  border: 5px solid tomato;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

h5 {
  font-family: "Trebuchet MS";
  font-size: 35px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

p {
  font-family: "Trebuchet MS";
}

q {
  font-size: 25px;
}

table {
  width: 75%;
  border: 5px solid tomato;
  background-color: tomato;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

tr, th {
  font-family: "Trebuchet MS";
  background-color: white;
  text-align: center;
  padding: 10px;
}

.tr1 {
  font-family: "Trebuchet MS";
  font-size: 20px;
  text-align: center;
}

a {
  font-family: "Trebuchet MS";
  font-size:35px;
  top: 18px;
  left: 18px;
  position: fixed;
}

